<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAy-4eIleDj0J-RFISBksMOUlgmbB8uQfE</string>
	<key>GCM_SENDER_ID</key>
	<string>409717113916</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.metrofood</string>
	<key>PROJECT_ID</key>
	<string>mobile-project-ffb9d</string>
	<key>STORAGE_BUCKET</key>
	<string>mobile-project-ffb9d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:409717113916:ios:26141dc267ba0cae1fef39</string>
</dict>
</plist>